<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <mirrors>
    <mirror>
      <id>artifactory-release</id>
      <mirrorOf>central</mirrorOf>
      <url>https://trialzjb0sy.jfrog.io/artifactory/recondo-demo-libs-release</url>
      <blocked>false</blocked>
    </mirror>
    <mirror>
      <id>artifactory-snapshot</id>
      <mirrorOf>external:*</mirrorOf>
      <url>https://trialzjb0sy.jfrog.io/artifactory/recondo-demo-libs-snapshot</url>
      <blocked>false</blocked>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>artifactory-release</id>
      <username>${{ secrets.JFROG_USER }}</username>
      <password>${{ secrets.JFROG_PASSWORD }}</password>
    </server>
    <server>
      <id>artifactory-snapshot</id>
      <username>${{ secrets.JFROG_USER }}</username>
      <password>${{ secrets.JFROG_PASSWORD }}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <id>recondo-demo-libs-release</id>
          <url>https://trialzjb0sy.jfrog.io/artifactory/recondo-demo-libs-release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
        <repository>
          <id>recondo-demo-libs-snapshot</id>
          <url>https://trialzjb0sy.jfrog.io/artifactory/recondo-demo-libs-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
